<div class="row">  
  <% if @recipe.highlight %>
    <div class="col-md-1 mt-3">
      <%= image_tag 'star.png', {width: 60} %>
    </div>
  <% end %>
  <h1 class="display-4 mt-3"><%= @recipe.title %></h1>
</div>

<% if user_signed_in? %>
  <hr class="my-4">
  <%= form_tag recipe_add_to_list_path(@recipe), method: "patch", class: "form-inline my-2 my-lg-0" do %>
    <%= label_tag :recipes_list_ids, 'Adicionar à lista' %>
    <%= select_tag :recipes_list_ids, 
                  options_from_collection_for_select(@recipes_lists, :id, :name), 
                  class: 'form-control col-md-2 ml-3 mr-3' %>
    <%= submit_tag 'Adicionar', class: "btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
<% end %>

<hr class="my-4">
<h3><%= t('.details') %></h3>
<p><%= @recipe.recipe_type.name %></p>
<p><%= @recipe.cuisine.name %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.cook_time_min %></p>
<hr class="my-4">
<h3><%= t('.ingredients') %></h3>
<p><%= @recipe.ingredients %></p>
<hr class="my-4">
<h3><%= t('.cook_method') %></h3>
<p><%= @recipe.cook_method %></p>
<hr class="my-4">
<h3><%= t('.author') %></h3>
<p><%= link_to @recipe.user.name, @recipe.user %></p>
<hr class="my-4">
<h3><%= t('.images') %></h3>
<% if @recipe.photo.attached? %>
  <%= image_tag @recipe.photo, {width: 500} %>
<% else %>
  <%= image_tag "noimage.jpg" %>
<% end %>
<hr class="my-4">

<section id='buttons'>
  <% if user_signed_in? %>

    <% if !@recipe.highlight && current_user.admin %>
      <%= link_to 'Destacar', recipe_highlight_path(@recipe), method: :patch, class: 'btn btn-primary' %>
    <% elsif current_user.admin %>
      <%= link_to 'Remover destaque', recipe_highlight_path(@recipe), method: :patch, class: 'btn btn-primary' %>
    <% end %>

    <% if @recipe.author?(current_user) %>
      <%= link_to t('.edit'), edit_recipe_path(@recipe), class: 'btn btn-primary' %>
      <%= link_to t('.delete'), @recipe, method: :delete, class: 'btn btn-primary' %>
    <% end %>

  <% end %>

  <%= link_to t('.back'), root_path, class: 'btn btn-secondary' %>
</section>

