  <% @recipe_type.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>

<%= form_with model: recipe_type, class: 'mt-4', local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name, class: 'form-control col-md-6' %>
  </div>
  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
<% end %>
